[submodule "dependencies/freetype"]
	path = dependencies/freetype
	url = https://gitlab.freedesktop.org/freetype/freetype.git
[submodule "dependencies/msdf-atlas-gen"]
	path = dependencies/msdf-atlas-gen
	url = https://github.com/Chlumsky/msdf-atlas-gen
